*, *::before, *::after {
  box-sizing: border-box;
}

.bookeditor {
  background-color: #f0e4cc; 
  margin: 0;
}

.container {
  height: 100vh; 
  overflow: hidden; 
}

.container .ql-editor {
  width: 100%; 
  height: 100%; 
  padding: 1in;
  margin: 0; 
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
  background-color: #f0e4cc;
  overflow-y: auto; 
  white-space: normal !important;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container .ql-toolbar.ql-snow {
  background-color: #f0e4cc;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}
